In [2]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Answer: A database is an organized collection of structured information, or data, typically stored electronically in a 
computer system
Type – 
SQL databases are primarily called as Relational Databases (RDBMS); whereas
NoSQL database are primarily called as non-relational or distributed database. 
SQL-These databases have fixed or static or predefined schema	
NOSQL-They have dynamic schema

'Q1. What is a database? Differentiate between SQL and NoSQL databases.\nAnswer: A database is an organized collection of structured information, or data, typically stored electronically in a \ncomputer system\nType – \nSQL databases are primarily called as Relational Databases (RDBMS); whereas\nNoSQL database are primarily called as non-relational or distributed database. \nSQL-These databases have fixed or static or predefined schema\t\nNOSQL-They have dynamic schema'

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Answer:-Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships 
in a database
The CREATE TABLE command creates a new table in the database.
The ALTER TABLE command adds, deletes, or modifies columns in a table.
The ALTER TABLE command also adds and deletes various constraints in a table.
The DROP TABLE command deletes a table in the database.
The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
Example:-

In [ ]:
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

In [ ]:
ALTER TABLE Customers
ADD Email varchar(255);

In [ ]:
DROP TABLE Shippers;

In [ ]:
TRUNCATE TABLE Categories;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Answer:-Data Manipulation Language (DML
It is the component of the SQL statement that controls access to data and to the database
The INSERT statement introduces new rows into an existing table.
The DELETE statement removes a row or combination of rows from a table.
The UPDATE statement enables users to update a row or group of rows in a table.

In [ ]:
INSERT INTO Students(StudentId, StudentName, DepartmentId, DateOfBirth)
              VALUES(11, 'Ahmad', 4, '1997-10-12');

In [ ]:
UPDATE Students
SET DepartmentId = 3 
WHERE StudentId = 6;

In [ ]:
DELETE FROM Students WHERE StudentId = 11 OR StudentId = 12;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
Answer:- DQLs or Data Query Languages, are computer languages that are used to make various queries in information 
systems and databases.
select is use to select the query 
select *from customer:

In [ ]:
Q5. Explain Primary Key and Foreign Key.
Answer:-A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column
is unique. A foreign key is generally used to build a relationship between the two tables.
Table allows only one primary key.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Answer:- 
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

cursor. explain() returns the queryPlanner and executionStats information for the evaluated method.
The executionStats includes the completed query execution information for the winning plan.

The Execute method executes the query, SQL statement or procedure specified in the CommandText property of the Command 
object.The results are stored in a new Recordset object if it is a row-returning query. A closed Recordset object will be
returned if it is not a row-returning query

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

Answer:-1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.